<a href="https://colab.research.google.com/github/Hatim-Bhavnagar/Data-with-Python/blob/main/01_Ex1_Working_with_Int_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I am working on numbers as per example given in worksheet. Here the input is 345 as integer and output will be 346.

In [ ]:
def Add_one(  ):
  num = int(345)
  num_plus_one = num + 1
  print(num_plus_one)

Add_one()

346

I tried various defination naming combination like Add_one(), Add_one( ), Add_one(   ). The result is the same everytime, i didn't got any error.

However, when i tried executing int( 345 ) with space between brackets it gave error. So, the spaces are allow in "def" but not when you are using standard function withing the program.

In [ ]:
def Add_one(  ):
  num = int(345)
  num_plus_one = num + 1
  print(num_plus_one)

Add_one()

Based on the above sample code, The Conclusion is we can convert float to int and vice-versa. Also, we can convert int/float to complex, but when we convert complex to int/float then is not allowed and gives error.

I tried various calculate using various combination and conversion

In [ ]:
def show_message1():
   # add your code below here
    name = "Hatim"
    age = "25"
    message = "Hello " + name + ", your age is " + age + " years old."
    print(message)

show_message1()

Hello Hatim, your age is 25 years old.

In [ ]:
def show_message2():
   # add your code below here
    name = "Hatim"
    age = 25
    message = "Hello " + name + ", your age is " + age + " years old."
    print(message)

show_message2()

TypeError: can only concatenate str (not "int") to str

In Python, you can't directly concatenate strings and integers. This is why you are seeing the TypeError: can only concatenate str (not "int") to str.
As age is int and hence not allowed.

In [ ]:
def show_message3():
   # add your code below here
    name = "Hatim"
    age = 25
    message = "Hello " + name + ", your age is " + str(age) + " years old."
    print(message)
    age = str(25)
    message = "Hello " + name + ", your age is " + age + " years old."
    print(message)

show_message3()

Hello Hatim, your age is 25 years old.
Hello Hatim, your age is 25 years old.

Before concatenate int into string, we need convert the int to string. 2 ways to convert as show in show_message3 function.