<a href="https://colab.research.google.com/github/Hatim-Bhavnagar/Data-with-Python/blob/main/01_Ex1_Working_with_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I am working on numbers as per example given in worksheet. Here the input is 345 as integer and output will be 346.

In [6]:
def Add_one(  ):
  num = int(345)
  num_plus_one = num + 1
  print(num_plus_one)

Add_one()

346

I tried various defination naming combination like Add_one(), Add_one( ), Add_one(   ). The result is the same everytime, i didn't got any error.

However, when i tried executing int( 345 ) with space between brackets. it gave error.