<a href="https://colab.research.google.com/github/Hatim-Bhavnagar/Data-with-Python/blob/main/01_Ex1_Working_with_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I am working on numbers as per example given in worksheet. Here the input is 345 as integer and output will be 346.

In [ ]:
def Add_one(  ):
  num = int(345)
  num_plus_one = num + 1
  print(num_plus_one)

Add_one()

346

I tried various defination naming combination like Add_one(), Add_one( ), Add_one(   ). The result is the same everytime, i didn't got any error.

However, when i tried executing int( 345 ) with space between brackets it gave error. So, the spaces are allow in "def" but not when you are using standard function withing the program.

In [ ]:
def Calculate_total():
  num1 = int(346)
  num2 = float(10)
  num3 = float(10.30)
  num4 = complex(10, 0.0)
  num5 = complex(10, -0.0)
  num6 = complex(-10, 0.0)
  num7 = complex(-10, -0.0)
  num8 = float(-10)

  Total1 = num1 + num2
  print(Total1)
  Total1 = num1 + num3
  print(Total1)
  Total1 = num2 + num3
  print(Total1)
  Total1 = num3 + num4
  print(Total1)
  Total1 = num4 + num5
  print(Total1)
  Total1 = num1 + num4
  print(Total1)
  Total1 = num3 + num4
  print(Total1)
  Total1 = num4 + num6
  print(Total1)
  Total1 = num4 + num7
  print(Total1)
  Total1 = num6 + num7
  print(Total1)
  # not allowed : Total2 = float(Total1), this statement gives error, as Total1 is complex and cannot be converted to float and gives error.
  Total2 = int(num2 + num3)  # float to int assignment/conversion is allowed but data gets truncated. here num2 and num3 are float
  # not allowed : Total2 = int(num2 + num4), this statement gives error where num2 is float and num4 is complex
  print(Total2)
  Total2 = complex(num2 + num3)  # However we can covert from float to complex
  print(Total2)

  Total1 = num4 + num8
  print(Total1)

Calculate_total()

356.0
356.3
20.3
(20.3+0j)
(20+0j)
(356+0j)
(20.3+0j)
0j
0j
(-20+0j)
20
(20.3+0j)
0j

Based on the above sample code, The Conclusion is we can convert float to int and vice-versa. Also, we can convert int/float to complex, but when we convert complex to int/float then is not allowed and gives error.

I tried various calculate using various combination and conversion

In [ ]:
def show_message1():
   # add your code below here
    name = "Hatim"
    age = "25"
    message = "Hello " + name + ", your age is " + age + " years old."
    print(message)

show_message1()

Hello Hatim, your age is 25 years old.

In [ ]:
def show_message2():
   # add your code below here
    name = "Hatim"
    age = 25
    message = "Hello " + name + ", your age is " + age + " years old."
    print(message)

show_message2()

TypeError: can only concatenate str (not "int") to str

In Python, you can't directly concatenate strings and integers. This is why you are seeing the TypeError: can only concatenate str (not "int") to str.
As age is int and hence not allowed.

In [ ]:
def show_message3():
   # add your code below here
    name = "Hatim"
    age = 25
    message = "Hello " + name + ", your age is " + str(age) + " years old."
    print(message)
    age = str(25)
    message = "Hello " + name + ", your age is " + age + " years old."
    print(message)

show_message3()

Hello Hatim, your age is 25 years old.
Hello Hatim, your age is 25 years old.

Before concatenate int into string, we need convert the int to string. 2 ways to convert as show in show_message3 function.