<a href="https://colab.research.google.com/github/Hatim-Bhavnagar/Data-with-Python/blob/main/01_Ex1_Working_with_Int_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I am working on numbers as per example given in worksheet. Here the input is 345 as integer and output will be 346.

In [1]:
def Add_one(  ):
  num = int(345)
  num_plus_one = num + 1
  print(num_plus_one)

Add_one()

346

I tried various defination naming combination like Add_one(), Add_one( ), Add_one(   ). The result is the same everytime, i didn't got any error.

However, when i tried executing int( 345 ) with space between brackets it gave error. So, the spaces are allow in "def" but not when you are using standard function withing the program.

In [2]:
def Add_one():
  num = int(345)
  num = 400
  num_plus_one = num + 1
  print(num_plus_one)

Add_one()

401

I change num from 345 to 400. it works perfectly.

In [3]:
def Add_one():
  num = int("two")
  num_plus_one = num + 1
  print(num_plus_one)

Add_one()

ValueError: invalid literal for int() with base 10: 'two'

In Python, it cannot process the data in word as number. However if we change it to 2, then its works fine ( As shown in the code below )

In [4]:
def Add_one():
  num = int("2")
  num_plus_one = num + 1
  print(num_plus_one)

Add_one()

3

I learn't that , In python, we cannot use number in word for any mathematical conversion or operation.

Add On: In python, there are function in to convert text to number in "word2number" library. ref(https://pypi.org/project/word2number/)