<a href="https://colab.research.google.com/github/Hatim-Bhavnagar/Data-with-Python/blob/main/06_Creating_new_lists_with_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists and loops

A `for` loop is a Python construct that allows us to repeat a set of instructions a given number of times.  When using a for loop with a list, it will repeat exactly the same number of times as there are items in the list.

If we want to create a new list, we could do this systematically with a loop that executes a given number of times.

We do this using the range() function to generate a list of numbers to work through:

`for i in range(10):`  will loop through the numbers 0 to 9 (ten distinct numbers starting at 0)  

`for i in range(2,11):` will loop through the numbers 2 to 10 (missing 11 as we need to specify where to stop, so start at 2 and stop **before** 11).

---
### Exercise 1 - number list

Write a function called **list_numbers()** which will:  

*  use a for loop to generate a new list containing all the whole numbers from 20 to 30 including both (*Hint*: the .append() method allows you to add items to a list).
*  loop through the new list and print each number on a new line.       

**Expected output**:  
20  
21  
22  
23  
24  
25  
26  
27  
28  
29  
30

In [ ]:
def list_numbers():
  new_list = []
  for i in range(20,31):
    new_list.append(i)
  for i in new_list:
    print(i)
list_numbers()

20
21
22
23
24
25
26
27
28
29
30

---
### Using steps
In general, if we use a range, we give a starting number and a stopping number (the first number that is out of the range in the direction we are counting). The default is to count up in 1s.

When we want a loop to count in bigger steps, we can add a further parameter in the range brackets, which represents the size of the step.

e.g. to print the even numbers up to 10 (starting with the first even number)

```
for i in range(2,11,2):
   print(i)
```

e.g. to print all multiples of 5 from 5 to 50 (starting with the first multiple)

for i in range(5,51,5):
   print(i)  

We can use steps to reverse the direction of counting. So to count backwards from 10 to 1, we can use a step of -1. Again, use the starting number, the number AFTER the last number to be included, in the direction we are counting, and the size and direction of the step.

```
for i in range(10, 0, -1):
   print(i)
```

---
### Exercise 2 - list of evens  

Write a function called **list_evens()** which will:  

*  use a for loop to generate a new list containing the even numbers from 2 to 20 (remember you can also count up in 2s)  
*  print the list one item per line

**Expected output**:  
2  
4  
6  
8  
10  
12  
14  
16  
18  
20

In [ ]:
def list_evens():
  new_list = []
  for i in range(2,21,2):
    new_list.append(i)
  print("List of Even numbers from 2 to 20 :")
  for i in new_list:
    print(i)
list_evens()

List of Even numbers from 2 to 20 :
2
4
6
8
10
12
14
16
18
20

---
### Exercise 3 - list multiples  

Write a function called **list_multiples()** which will:

*  use a for loop to generate a new list containing the multiples of 3 from 3 to 36
*  print the list one item per line

Expected output:  
3  
6  
9  
12  
15  
18  
21  
24  
27  
30  
33  
36

In [ ]:
def list_multiples():
  new_list = []
  for i in range(3,37,3):
    new_list.append(i)
  print("List of multiples of 3 from 3 to 36 :")
  for i in new_list:
    print(i)
list_multiples()

List of multiples of 3 from 3 to 36 :
3
6
9
12
15
18
21
24
27
30
33
36

In [ ]:
def list_multiples2():
  list_of = int(input("Enter the number whose multiple is required :"))
  list_to_10 = list_of * 12
  new_list = []
  for i in range(list_of,list_to_10+1,list_of):
    new_list.append(i)
  print("List of multiples of ",list_of, " :")
  for i in new_list:
    print(i)
list_multiples2()

Enter the number whose multiple is required :5
List of multiples of  5  :
5
10
15
20
25
30
35
40
45
50
55
60

---
### Exercise 4 - reverse list

Write a function called list_reverse() which will:

*  use a for loop to generate a new list containing the numbers 5 to 15 in reverse  
*  print the list, one item per line

Expected output:  
15  
14  
13  
12  
11  
10  
9  
8  
7  
6  
5

In [ ]:
def list_reverse():
  new_list = []
  for i in range(15,4,-1):
    new_list.append(i)
  print("List of numbers from 15 to 4 in reverse :")
  for i in new_list:
    print(i)
list_reverse()

List of numbers from 15 to 4 in reverse :
15
14
13
12
11
10
9
8
7
6
5

---
### Exercise 5 - calculating times table (Challenging)

Write a function called **display_times_table()** which will:  

*  ask the user to input a **number**
*  use a for loop to generate a list of the multiples of that number (use a for loop and the `range()` function to calculate the first ten multiples of that number)  
*  print a times table entry as shown below for each item in the list

Test Input:  
4  

Expected output:  
1 x 4 = 4  
2 x 4 = 8  
3 x 4 = 12  
4 x 4 = 16  
5 x 4 = 20  
6 x 4 = 24  
7 x 4 = 28  
8 x 4 = 32  
9 x 4 = 36  
10 x 4 = 40

In [ ]:
def display_times_table():
  number = int(input("Enter a number :"))
  new_list = []
  for i in range(1,11):
    new_list.append(i)
  print("List of multiples of ",number, " :")
  for i in new_list:
    print(i,"x",number,"=",i*number)
display_times_table()

Enter a number :4
List of multiples of  4  :
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

### Exercise 6 - counting down numbers in reverse

Write a function called **countdown()** which will:

*  ask the user to input a **number**
*  prints numbers in a countdown starting at `number`, decreasing by 1 each time round the loop and finishing at 1
*  after the loop, print ("GO")  (*Hint: only instructions indented to the same level under the 'for' instruction are part of the loop, as soon as you stop indenting to that level, and go back to the level above the 'for' these instructions are no longer in the loop*)

Test Input:  
9    

Expected output:   
9  
8  
7  
6  
5  
4  
3  
2  
1  
GO

In [ ]:
def countdown():
  number = int(input("Enter a number :"))
  for i in range(number,0,-1):
    print(i)
  print("GO")
countdown()

Enter a number :9
9
8
7
6
5
4
3
2
1
GO

---
# List comprehension (generating new lists with lists of numbers)

You can use a special format for creating lists so that rather than typing all items of the list individually, they will be generated using Python code.

**Examples:**

Generate a list of twelve 0s (

`zero_list = [0 for x in range(12)]`

Generate a list of the numbers from 0 to 49

`fifty_list = [x for x in range(50)]`

Generate a list of the first 10 square numbers

`squares_list = [ x**2 for x in range(10)]`

Generate a list of the numbers from 5 to 15

`numbers_list = [x for x in range(5, 16)]`

Think about how these lists are being generated.  The first part describes what x will look like (always 0, the current number or the square of the current number)  the part `for x in range(...)` describes the number of items in the list and can sometimes be used to determine value.

Use the code box below to see what the output of the lists suggested above would look like.

In [ ]:
generated_list =
print(generated_list)

---
### Exercise 7 - generate a list of numbers from 1 to 10

Write a function **generate_number_list()** that will:

*  use list comprehension techniques to create a list of all the whole numbers between 1 and 10
*  use a for loop to print the list one number per line

In [ ]:
def generate_number_list():
  new_list = [x for x in range(1,11)]
  for i in new_list:
    print(i)
generate_number_list()

1
2
3
4
5
6
7
8
9
10

---
### Optional challenge - generate a list of the letters between A and Z using the ord() function

Computers recognise letter as number codes (ASCII codes).  In this coding system the letter A is coded 65, the letter Z is coded 90 and all the other capital letters have the numbers in between, in order.

To get the letter, use chr(code)  e.g. chr(65) will give A, chr(68) will give D

Write a function **generate_alphabet()** that will:

*  use list comprehension to create the list of letters from A to Z using the numbers from 65 to 90 and converting the number (x) to its letter using chr(x)
*  print the list to show the alphabet

In [ ]:
def generate_alphabet():
  cap_alpha_list = [chr(x) for x in range(65,91)]
  print(cap_alpha_list)
  small_alpha_list = [chr(x) for x in range(97,123)]
  print(small_alpha_list)
generate_alphabet()

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

---
# Takeaways

*  the range() function will generate a list of integers either from 0 up to a given number e.g. `range(6)` or between two given numbers e.g. `range(10,20)`
* by default, a range will count up in intervals of 1 but you can tell it to count up with any interval, e.g. range(1,10,2) to count up in 2s or range(30, 10, -1) to count backwards  
*  there is a special syntax for creating lists like this in one line, called list comprehension
*  a list of characters can be generated in this way as they are actually stored as numbers.  ord(character) will get the number and chr(number) will convert the number into the character.  Capital letters use the numbers from 65(A) to 90(Z), lower case letters use the numbers from 97(a) to 122(z)

# Your thoughts on what you have learnt  

Please add some comments in the box below to reflect on what you have learnt through completing this worksheet, and any problems you encountered while doing so.

Learned Usage of range operator to generate and process various List